.card {
  background-color: white;
  border-radius: 4px;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.15);
  display: flex;
  height: 100%;
  width: 60em;
  overflow: hidden;
  border-bottom: 1px solid rgb(224, 224, 224);

  .imageContainer {
    width: 180px;
    margin: 16px 16px 16px 16px;

    img {
      width: 180px;
      height: 180px;
      border-radius: 4px;
      object-fit: cover;
    }
  }

  .detailsContainer {
    display: flex;
    flex-direction: row;
    gap: 10em;
    padding-top: 2.25em;

    .title {
      margin-bottom: 16px;
      margin-top: 20px;
      color: #333333;
      font-size: 18px;
      font-weight: 600;
    }

    .priceNameContainer {
      width: 28em;
      .priceContainer {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        .currency {
          color: #999999;
          font-size: 14px;
          font-weight: 400;
        }

        .amount {
          color: #333333;
          font-size: 24px;
          font-weight: 600;
        }

        .decimals {
          color: #999999;
          font-size: 14px;
          font-weight: 400;
        }

        .freeShippingIconContainer {
          background-color: #18d65c;
          margin-top: 2px;
          border-radius: 50%;
          width: 18px;
          height: 18px;
          display: flex;
          align-items: center;
          justify-content: center;

          .freeShippingIcon {
            width: 10px;
            height: 10px;

            img {
              height: 100%;
            }
          }
        }
      }
    }
    .shipping {
      .location {
        padding-right: 2.5em;
        font-size: 12px;
        color: #666666;
      }
    }
  }
}

@media screen and (max-width: 1000px) {
  .card {
    width: 43.75em;

    .imageContainer {
      width: 8em;

      img {
        width: 8em;
        height: 8em;
      }
    }

    .detailsContainer {
      .priceNameContainer {
        width: 15em;
      }
    }
  }
}

@media screen and (max-width: 700px) {
  .card {
    width: 23.5em;

    .imageContainer {
      width: 6em;

      img {
        width: 6em;
        height: 6em;
      }
    }

    .detailsContainer {
      padding-top: 1em;
      gap: 0px;
      .priceNameContainer {
        width: 10em;
        .priceContainer {
          .amount {
            font-size: 1.25em;
          }
        }
        .title {
          margin-top: 5px;
          font-size: 1em;
        }
      }

      .shipping {
        .location {
          padding-right: 0px;
        }
      }
    }
  }
}
