.nav {
  background-color: #ffe600;
  height: 54px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 16px;

  ul {
    list-style: none;
    display: flex;
    align-items: center;

    justify-content: space-between;

    li {
      margin-left: 16px;

      &:first-child {
        margin-left: 0;
      }

      .logo {
        margin-top: 5px;
      }

      form {
        display: flex;

        .search {
          position: relative;

          input {
            width: 600px;
            height: 36px;
            border: none;
            border-radius: 3px;
            font-size: 18px;
            padding: 0 12px;
            background-color: white;
            color: black;

            &:focus {
              outline: none;
            }
          }

          .icon {
            width: 1.5em;
          }

          button {
            background-color: #eeeeee;
            color: #333333;
            border: none;
            border-radius: 3px;
            height: 36px;
            padding: 0 10px;
            position: absolute;
            vertical-align: middle;
            right: 0px;
            top: 0;
            bottom: 0;
            margin: auto;
            cursor: pointer;
          }
        }
      }
    }
  }
}
